<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="application.css">
    <title>Document</title>
</head>
<body>
    <div class="App">
        <div class="navBar">
            <div class ="navLinks">



                <a>About</a>
            </div>
        </div>

        <div class="main">
        <h1 class="midWords"> Search results: </h1>
        <ul>

            <% @search.results.each do |i| %>
            <li class="results"><%= "#{i.keys[0]}: #{i.values[0]}" %>

              <%=button_to 'Add song', songs_path(@song), params:{:name => i.values[0], :artist_name => i.keys[0], :url_album => i.values[1]}%>
            </li><br>

            <%end%>
            <p class="results"><%= link_to 'Search', '/songs/new'%></p>

            </ul>
        </div>

        <div class="about">
            <p class="aboutTitle">About</p>

            <div class="aboutContainer">
                <div>
                    <p>things and stuff</p>
                </div>
                <div>
                    <p>stuff and things</p>
                </div>
            </div>
        </div>

    </div>

</body>
</html>
