
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="application.css">
    <title>Document</title>
</head>
<body>
    <div class="App">
        <div class="navBar">
            <div class ="navLinks">



                <a><%=link_to "About", about_path%></a>
            </div>
        </div>

        <div class="main">
          <p class="midWords">Search</p>
          <div class = "form">
            <%= form_tag songs_add_path, method:'post' do  %>

            <%= text_field_tag :search %>
            <%= submit_tag :search %>
            <%end%>
          </div>
        </div>

        <!-- <div class="about">
            <p class="aboutTitle">About</p>

            <div class="aboutContainer">
                <div>
                    <p>things and stuff</p>
                </div>
                <div>
                    <p>stuff and things</p>
                </div>
            </div>
        </div> -->

    </div>

</body>
</html>
