<h1><%=@song.name%></h1>
<div background-color: #000>
<iframe src="https://www.youtube.com/embed/<%="#{@video_id}"%>?background=1&autoplay=1"autoplay; ></iframe>
<div id ="over">
  <meta charset="UTF-8"> 
<p>  <%= @lyrics %> </p>

</div>
</div>
