
<div background-color: #000>
<iframe src="https://www.youtube.com/embed/n9nf5ShnRfk?autoplay=1&controls=1&showinfo=0&iv_load_policy=3&rel=0" ></iframe>
<div id ="over">
<p>  <%= @text %> </P>

</div>
</div>
