// Place all the styles related to the playlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
    margin: 0;
}
.navBar {
    top: 0;
    height: 100px;
    width: 100%;
    background-color: black;
    position:  fixed;
}
.navBar a {
    color: white;
    margin-left: 10px;
}
.navLinks {
    margin-right: 15px;
    margin-top: 35px;
    float: right;
}

.mainPlaylist {
    padding: 10px;
    background-color: green;
    text-align: center;
    
    background: url('./images/caset2.jpeg');
    width: 100vw;
    height: 100vh;
    background-size: cover !important;
    background-repeat: no-repeat;
}

.playlistMidWords {
    padding: 10;
   padding-top: 200px;
    color:white;
    font-size: 50px;
}

.songs {

    text-align: left;
    background-color: whitesmoke;
    opacity: 80%;
    width: 500px;
    
    padding: 10px;
}

.songs:hover {
    background-color: rgb(204, 212, 192) !important;
}

.aboutTitle {
    text-align: center;
    font-size: 30px;

}

.aboutContainer {
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10% 10% 10% 10%;
}