
<h1><%= @playlist.name %></h2>
<h2>Songs:</h2>
<ul>
<% @playlist.songs.each do |song| %>
   <li> <%= song.name %></li>
    <% end %>
    </ul><br>
<%= link_to "add song", new_song_path %> <br>
<%= link_to "Back to Profile", user_path(session[:user_id]) %>
