<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="application.css">
    <title>Document</title>
</head>
<body>
    <div class="App">
        <div class="navBar">
            <div class ="navLinks">
            <%= link_to "Home", home_path %>

            </div>
        </div>

        <div class="main">

            <p class="midWords">About Kareoji</p>


            </p class="aboutText">
            We are the kings of emojis. None even come close to the precise art of mapping lyrical keywords to emoticon
           images. <br><br>Those who try (Apple, Samsung), quiver in fear of our algorithm as it far surpasses their own.</p>
        </div>



    </div>

</body>
</html>
