<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="application.css">
    <title>Document</title>
</head>
<body>
    <div class="App">
        <div class="navBar">
            <div class ="navLinks">
            <%= link_to "Sign Up", new_user_path %>
            <%= link_to "Log In", log_in_path %>
                
              
                <a>About</a>
            </div>
        </div>

        <div class="main">
       
            <p class="midWords">Welcome to Kareoji</p>
        </div>

        <div class="about">
            <p class="aboutTitle">About</p>

            <div class="aboutContainer">
                <div>
                    <p>things and stuff</p>
                </div>
                <div>
                    <p>stuff and things</p>
                </div>
            </div>
        </div>

    </div>

</body>
</html>